body {
    font-family: 'Dancing Script', Arial, sans-serif;;
    background-color: #02010a;
}

#cabecera {
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 0 2em;
    display: flex;
    flex-flow: row wrap;
}

.columnaHeader {
    width: 100%;
}

.columnaHeader h1 {
    text-shadow: 2px 2px 2px #02010a;
}

.columnaHeader nav {
    padding: 1em;    
}

#cabecera nav a {
    color: white;
}

#cabecera nav li {
    display: inline;
}

#cabecera nav a:hover, #cabecera nav a:active{
    text-decoration: none;
}

#cabecera nav .active a:link, #cabecera nav .active a:visited {
    text-decoration: none;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container div {
	box-sizing: border-box;
}

.imagenCentral {
    background-color: #82c3a6;
    width: 100%;
}

figure  {
    text-align: center;
    width: 100%;    
    margin: 0;
}

figure img {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    margin: 10px 0;
    box-shadow: 2px 2px 2px 2px #02010a;    
}

#imagenCentral {
    background-color: #82c3a6;    

}

.imagenesSecundarias {
    background-color:  #d5c75f;
    display: flex;
    width: 100%;    
	padding: 20px;    
}

#imagenSecundaria1 img:hover {
    transform: rotate(10deg);
    box-shadow: 2px 2px 2px 2px #82c3a6;
}

#imagenSecundaria2 img:hover {
    transform: translate(20px, -5px);
    box-shadow: 2px 2px 2px 2px #82c3a6;
}

.galeria1, .galeria2 {
    background-color:  #d5c75f;
    display: flex;
    width: 100%;    
	padding: 20px;    
}

.imagenG1 img {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.imagenGPar img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.imagenG3 img {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}


#contentinfo {
    background-color: #C6d5c5;
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 10px 10px; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap; 
}

#contentinfo div {
    box-sizing: border-box;
    width: 25%;
}

.columnaFooter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.columnaFooter li {
    margin: 0 0.15em;
    
}

@media (max-width: 899px) {

    .columnaHeader h1 {
        float: none;
    }
    
    .columnaHeader nav {
        float: none;
    }

	.container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .container div {
        padding: 0;
    }

    .imagenesSecundarias {
        flex-direction: column;
        margin: 0 auto;
    }

    .galeria1, .galeria2 {
        flex-direction: column;
        margin: 0 auto;   

    }

    #contentinfo div {
        box-sizing: border-box;
        width: 100%;
    }
        
}

@media (min-width: 900px) {

    .columnaHeader h1 {
        float: left;
    }
    
    .columnaHeader nav {
        float: right;
    }


	.container {
	    width: 900px;
	    margin-left: auto;
	    margin-right: auto;
	}

    #contentinfo div {
        box-sizing: border-box;
        width: 25%;
    }
    
}

@keyframes cabecera-animacion {
	0% {
	position: relative;
	margin-top: 150%;
	}
	60% {
	position: relative;
	margin-top: -5%;
	}
	100% {
	position: relative;
	margin-top: 0%;
	}
	}
	
	#cabecera {
	animation-name: cabecera-animacion;
	animation-duration: 2s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}