body {
    font-family: 'Dancing Script', Arial, sans-serif;;
    background-color: #02010a;
}

#cabecera {
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    color: white;
    height: 80px;
    padding: 0 2em;
}

#cabecera h1 {
    text-shadow: 2px 2px 2px #02010a;
    float: left;
}

#cabecera nav {
    float: right;
    padding: 1em;    
}

#cabecera nav a {
    color: white;
}

#cabecera nav li {
    display: inline;
}

#cabecera nav a:hover, #cabecera nav a:active{
    text-decoration: none;
}

#cabecera nav .active a:link, #cabecera nav .active a:visited {
    text-decoration: none;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container div {
	box-sizing: border-box;
	padding: 20px;
}

.imagenCentral {
    background-color: #82c3a6;
    text-align: center;
    width: 100%;
}

#imagen1 {
    width: 100%;
    border: 1px solid black;
}

.imagenesSecundarias {
    background-color:  #d5c75f;
    display: flex;
    width: 100%;    
}

#imagen2, #imagen3 {
    width: 50%;
    border: 1px solid black;
    margin: 10px;
}


#contentinfo {
    background-color: #C6d5c5;
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 10px 10px;    
}



@media (max-width: 899px) {

	.container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .imagenesSecundarias {
        flex-direction: column;
    }

    #imagen2, #imagen3 {
        width: 98%;
    }


}

@media (min-width: 900px) {
	
	.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	}

    #imagen2, #imagen3 {
        width: 48%;
    }


}
